@media (max-width: 1024px){
    img{
        max-width: 70%;
        max-height: 70%;
    }
    header{
        display: none;
    }
    main{
        display: none;
    }
    footer{
        display: none;
    }
    #index_responsive{
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: center;
    }
}