@media (max-width: 1024px){
    img{
        max-width: 70%;
        max-height: 70%;
    }
}

@media (max-width: 768px){
    img{
        width: auto;
        height: 100%;
    }
    header{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    header ul{
        display: flex;
        flex-direction: column;
    }
    .mur_main article,.air_main article,.goutte_main article,.contact_main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}